body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: lightgray;
    position: relative;
    z-index: 900;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
}

.navbar ul ul {
    position: absolute;
    top: 100%;
    display: none;
    background-color: blanchedalmond;
}

.navbar ul ul li {
    display: block;
}

.navbar li:hover ul {
    display: block;
}

.navbar button[type=submit] {
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    background-color: inherit;
    display: block;
    font-size: 1em;
}

.navbar div {
    padding: 10px 20px;
}

.navbar li:hover div {
    background-color: blanchedalmond;
}

.navbar li:hover button[type=submit] {
    background-color: blanchedalmond;
}