body {
    font-family: Arial, Helvetica, sans-serif;
}

ul.mainMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

li.mainMenu {
    float: left;
}

li a.mainMenu {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a.mainMenu:hover {
    background-color: blanchedalmond;
}